:root {
    --charcoal: #272822;
    --yellow: #E6DB74;
}

.item-editBar{
    color: var(--yellow);
}

.item-editTools{
    border-width: 3px;
    border-style: solid;
    width: 95%;
}
.editTool{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}